<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/HomePage.css">
    <title>HOME</title>
</head>
<body>
    <div class="allbutton">
        {{ if eq .Check true}}
        <div class="logout">
            <a class="button" href="/logout">LOGOUT</a>
            <a class="button" href="/createpost">Create Post</a>
            <a  class="button" href="/myprofile">My Profile</a>
        </div>
        {{else}}
        <div class="registr">
            <a class="button" href="/registr">Registration</a>
            <a class="button" type="button" href="/login">LOGIN</a>
        </div>
        {{end}}
    </div>
    <br>
    <br>
    <div class="filter" >
        <div >
            <div >
                <div class="insidefilter">
            <h3>Tag Filter</h3>
            <a href="/tagsfilter/Twitch">#Twitch</a>
            <a href="/tagsfilter/YouTube">#YouTube</a>
            <a href="/tagsfilter/GitHub">#GitHub</a>
            <a href="/tagsfilter/Anime">#Anime</a>
            <a href="/tagsfilter/IT">#IT</a>
              </div>
            </div>
        </div>
    </div>
    <br>
    <div class="wraper">
        <div class="postcontent">
            {{range .Posts}}
            <section id="{{.Id}}" >
            <div class="post">
                <div class="posttitle">
                <h4 > POST </h4>
               
                    <h3 >Title:{{ .Title}}</h3>
                </div>
                  <h3>Content:{{.Text}}</h3>
                 <h3>Tags:</h3>
                  {{range .Tag}}
                 <a href="/tagsfilter/{{.Value}}">#{{.Value}}</a>
               
                 {{end}}
                  <h4>Author:{{.Author}}</h4>
                  <a class="button" href="/post/{{.Id}}" value="{{.Id}}" name="see" >SEE</a>
                  {{ if eq .IsAuthor true}}
                  <form action="/deletepost/{{.Id}}" method="POST" >
                    <button class="button" type="submit" name="deletebutton" value="{{.Id}}" >Delete</button>    
                  </form>
                  <form action="#{{.Id}}" method="GET">
                  <button  class="button" type="submit" name="change" value="{{.Id}}">Change Post</button>
                  </form>
                  {{end}}
                  <br>
            </div>
            <br>
            {{ if eq .IsAuthor true}}
            <div class="updatepostarea">
            <form action="/updatepost/{{.Id}}" method="POST">
                <div>
                    {{if eq .ChangePost true}}
                    <div class="update">
                        Title <br>
                        <textarea class="title" name="newtitle" id="" cols="10" rows="2" required>{{.Title}}</textarea>  <br>
                        Text <br>
                        <textarea class="text" name="newtext" id="" cols="30" rows="10" required>{{.Text}}</textarea> <br>
                        <fieldset>
                            <legend>Chose tags</legend>
                            <input type="checkbox" name="tags" value="Twitch">#Twitch <br>
                            <input type="checkbox" name="tags" value="YouTube">#YouTube <br>
                            <input type="checkbox" name="tags" value="GitHub">#GitHub <br>
                            <input type="checkbox" name="tags" value="Anime">#Anime <br>
                            <input type="checkbox" name="tags" value="IT">#IT <br>
                        </fieldset>  
                        <button class="changebutton" type="submit">Change</button>
                    </div>
                    
                    {{end}}
                </div>
            </form>
            </div>
            {{else}}
            {{end}}
            <br>
            </section>
            {{end}}
        </div>
    </div>
</body>
</html>