body {
    background-color: rgb(187, 221, 187);
}

.home {
    justify-content: center;
    display: flex;
}

.button {
    background-color: #383030; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #383030; /* Green */
}

.button:hover {
    background-color: white; /* Green */
    color: #383030;
}

.button1 {
    background-color: #383030; 
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #383030;
}

.button1:hover {
    background-color: white; 
    color: #383030;
}