.allcontent {
    justify-content: center;
    display: flex;
    word-break: break-all;
    width: 100%;
}

body {
    background-color: rgb(187, 221, 187);
    /* justify-content: center;
    display: flex; */
}

.button {
    background-color: #383030; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #383030; /* Green */
}

.button:hover {
    background-color: white; /* Green */
    color: #383030;
}

.home {
    justify-content: center;
    display: flex;
}

.inputarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.forma {
   justify-content: center;
   width: 100%;
}